@using Project_Management2.Areas.Project.Models;
@using Project_Management2.UrlEncryption
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    
}
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        // Check if TempData contains a success message
        var successMessage = '@TempData["Message"]';
        var deleteMessage = '@TempData["Message1"]';
        if (successMessage) {
            // Display SweetAlert
            Swal.fire({
                title: "Good job!",
                text: successMessage,
                icon: "success"
            });
        }
        if (deleteMessage) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: deleteMessage,
            });
        }

        function Delete(projId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You Want to Delete Project ",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the Delete action with the EmpID parameter
                    window.location.href = '@Url.Action("DeleteCurrent", "Project")' + '?ProjIDlist=' + projId.toString();
                }
            });
        }


        function Update(projId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You Want to Update Project",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Update it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the Delete action with the EmpID parameter
                    window.location.href = '@Url.Action("ProjectAddedit", "Project")' + '?ProjID=' + projId;
                }
            });
        }

        $(document).on("click", "#searchButton", function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            console.log("Button Clicked");

            var projectName = $("input[name='ProjName']").val();
            var projectstatus = $("input[name='StatusID']").val();

            console.log("Project Name:", projectName);
            console.log("Project Status:", projectstatus);

            $("tbody tr").each(function (index, element) {
                var row = $(element);
                var name = row.find("td:eq(1)").text();
                var status = row.find("td:eq(9)").text();

                console.log("Row Name:", name);
                console.log("Row Code:", status);

                // Check if the values are not undefined
                if ((projectName === '' || name.includes(projectName)) &&
                    (projectstatus === '' || status.includes(projectstatus))) {
                    // Show the row if it meets the search criteria
                    row.show();
                } else {
                    // Hide the row if it doesn't meet the search criteria
                    row.hide();
                }
            });

            // Clear the form fields
            $("input[name='ProjName']").val('');
            $("input[name='StatusID']").val('');
        });

    </script>
}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Add Project</li>
            <li class="breadcrumb-item active">Current Project List</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
@using System.Data;
@model IEnumerable<ProjectModel>;



<form class="form-inline row" role="search" method="post">
    <div class="col-4">
        <input class="form-control mr-sm-2 " placeholder="Enter Project Name" type="text" name="ProjName">
    </div>
    <div class="col-4">
        <input type="date" class="form-control" placeholder="Enter Project StartDate" name="ProjStartDate">
    </div>
    <div class="col-4">
        <input type="date" class="form-control" placeholder="Enter Project Compleation Date" name="ProjEndDate">
    </div>
    <br/>
    <br/>
    <div class="form-group col-md-3">
        <select id="inputStatus" class="form-select" name="StatusID" asp-items="@(new SelectList(ViewBag.StatusList,"StatusID","StatusName"))">
            <option selected>Select Status</option>
        </select>
    </div>


    <div class="col-3">
        <select id="inputStatus" class="form-select" name="EmpID" asp-items="@(new SelectList(ViewBag.employeemanagerlist,"EmpID","EmpName"))">
            <option selected>Select Is Manager</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" asp-area="Project" asp-controller="Project" asp-action="FilterCurrent" class="btn btn-info btn-md">
            <i class="bi bi-filter"></i>
            Apply Filter
        </button>
    </div>
    <div class="col">
        <a class="btn btn-success" asp-area="Project" asp-controller="Project" asp-action="Export_ProjectCurrent_List_To_Excel">
            <i class="bi bi-file-earmark-excel"></i><span> Excel</span>
        </a>
    </div>
    <div class="col">
        <a class="btn btn-danger" asp-area="Project" asp-controller="Project" asp-action="Export_ProjectCurrent_List_To_pdf">
            <i class="bi bi-file-earmark-pdf"></i><span> Pdf</span>
        </a>
    </div>
</form>
<br />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Current Project List</b></h5>
                    <form method="get" asp-action="DeleteCurrent" asp-controller="Project" asp-area="Project">
                        <div class="row">
                            <div class="col">
                                <button type="submit" method="post" class="btn btn-danger btn-md">
                                    <i class="bi bi-trash3-fill"></i> Multiple Delete
                                </button>
                            </div>
                            <div class="col" align="right">
                                <a type="submit" class="btn btn-info btn-md" asp-area="Project" asp-action="ProjectAddedit" asp-controller="Project">
                                    <i class="bi bi-file-earmark-plus"></i> Add Project
                                </a>
                            </div>
                            </div>
                            <br />
                            @{
                                if (Model.Count() > 0)
                                {
                                    <div class="table-responsive table-striped">
                                        <table class="table datatable ">

                                            <thead>
                                                <tr>
                                                    <th scope="col">Select</th>
                                                    <th scope="col">Sr.No</th>
                                                    <th scope="col">Project</th>
                                                    <th scope="col">ProjStartDate</th>
                                                    <th scope="col">ProjEndDate</th>
                                                    <th scope="col">ProjManager</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">TotalCost</th>
                                                    <th class="text-center" scope="col" colspan="2">Edit</th>
                                                    <th class="text-center" scope="col" colspan="2">Delete</th>
                                                    @*<th scope="col" >Created</th>
                                            <th scope="col" >Modified</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                }
                                                @{
                                                    if (Model.Count() > 0)
                                                    {
                                                        @foreach (ProjectModel proj in Model)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input md" type="checkbox" value="@proj.ProjID.ToString()" id="gridCheck1" name="ProjIDlist">
                                                                    </div>
                                                                </td>
                                                                <td>@i</td>
                                                                <td>@proj.ProjName</td>
                                                                <td>@(proj.ProjStartDate == null ? "" : proj.ProjStartDate.Value.ToString("dd-MM-yyyy"))</td>
                                                                <td>@(proj.ProjEndDate == null ? "" : proj.ProjEndDate.Value.ToString("dd-MM-yyyy"))</td>
                                                                <td>@proj.EmpName</td>
                                                                <td>@proj.StatusName</td>
                                                                <td>@proj.ProjTotalCost</td>
                                                                <td>
                                                                <a class="btn btn-md btn-success" onclick="Update('@proj.ProjID')"> <i class="bi bi-pencil-square"></i></a>
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-md btn-danger" onclick="Delete('@proj.ProjID.ToString()')">
                                                                        <i class="bi bi-trash3-fill"></i>
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                            i = i + 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="5" class="text-center">
                                                                <p class="col-form-label">No Record Found</p>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <h1 class=" text-center text-danger">No Record Found</h1>
                                        </td>
                                    </tr>
                                }
                            }
                           
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


